<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>Snooped on {{ host }}</title>
  </head>
  <body>
    <main class="container">
      <article>
        <header>
          <hgroup>
            <h1>Snooped on {{ host }}</h1>
            <h2>Here's what we learned:</h2>
          </hgroup>
        </header>
        <p>Output:</p>
        <code>
          {% for line in result %}
            {{ line }}
            <br>
          {% endfor %}
        </code>
      </article>
    </main>
  </body>
</html>
