<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>Snooped on {{ host }}</title>
  </head>
  <body>
    <main class="container">
      <header>
        <nav>
          <ul>
            <li><a role="button" class="outline" href="/">DDoS</a></li>
            <li><a role="button" class="outline" href="/showip">Find IP</a></li>
            <li><a role="button" class="outline" href="/dns">DNS</a></li>
          </ul>
        </nav>
      </header>
      <article>
        <header>
          <hgroup>
            <h1>Snooped on {{ host }}</h1>
            <h2>What I learned</h2>
          </hgroup>
        </header>
        <code>
          {% for line in result %}
            {{ line }}
            <br>
          {% endfor %}
        </code>
      </article>
    </main>
  </body>
</html>
