<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>Who to find?</title>
  </head>
  <body>
    <main class="container">
      <article>
        <header>
          <hgroup>
            <h1>Who to find?</h1>
            <h2>Find IP address behind a hostname</h2>
          </hgroup>
        </header>
        <form action="/showip" method="POST">
          <label for="host">Target:</label>
          <input type="text" id="host" name="host" placeholder="en.kremlin.ru">
          <input type="submit" value="Find">
        </form>
      </article>
    </main>
  </body>
</html>
